.sliderpics {
  width: 65%;
  height: 65%;
}

.homewraper {
  display: grid;
  justify-items: center;
}

.aboutbooth {
  padding: 10px;
  font-size: 2.2vw;
  width: 52vw;
  background-color: #a3d7e4;
  color: rgb(39, 65, 151);
  font-family: "Shadows Into Light", cursive;
  align-items: center;
}
